/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.02.2019, 8:49:13
    Author     : User

    Gamma 1st
    black, orangered, lightcoral, gainsboro, snow

    Logo have
    black - #131514
    orange - #f86400
    white - #ffffff
    
*/

/*      black
*/
.bg-color-black{
    background-color: #131514;
}
.font-color-black{
    color: #131514;
}
a.font-color-black:hover{
    color: #131514;
}
.font-shadow-black{
    text-shadow: 0 0 .5px black;
}

/*      orange
*/
.bg-color-orange{
    background-color: #f86400;
}
.font-color-orange{
    color: #f86400;
}
.font-shadow-orange{
    text-shadow: 0 0 .5px #f86400;
}

/*      pink
*/
.bg-color-pink{
    background-color: lightcoral;
}
.font-color-pink{
    color: lightcoral;
}
.font-shadow-pink{
    text-shadow: 0 0 .5px lightcoral;
}

/*      light
*/
.bg-color-light{
    background-color: gainsboro;
}
.font-color-light{
    color: gainsboro;
}
.font-shadow-light{
    text-shadow: 0 0 .5px gainsboro;
}

/*      smoke
*/
.bg-color-smoke{
    background-color: whitesmoke;
}
.font-color-smoke{
    color: whitesmoke;   
}
.font-shadow-smoke{
    text-shadow: 0 0 .5px whitesmoke;
}



.navbar-light .navbar-toggler .icon-bar {
    background: #111;
}

.carousel-caption{
    color: #111 ;
}
.carousel-indicators li.active,
.carousel-indicators li:active {
    background-color: gainsboro;
}
.carousel-control-next,
.carousel-control-prev,
.carousel-control-next:hover,
.carousel-control-prev:hover,
.carousel-control-next:active,
.carousel-control-prev:active {
    color: black !important;
}


.btn.focus,
.btn:focus{
    -webkit-box-shadow: 0 0 0 0.1rem rgba(11,11,11,.25);
    box-shadow: 0 0 0 0.1rem rgba(11,11,11,.25);
}

.btn.btn-orange{
    background-color: #f86400;
    color: #131514;
    text-shadow: 0 0 .5px #f86400;
}
.btn.btn-orange:hover{
    background-color: gainsboro;
    color: #f86400;
    text-shadow: 0 0 1px #131514;
    border: inset 1px #131514;
}
.btn.btn-orange.active,
.btn.btn-orange:active{
    background-color: gainsboro;
    color: #131514;
    text-shadow: 0 0 .5px whitesmoke;
    border: inset 1px #131514;
}
.btn.btn-black{
    background-color: #131514;
    color: #fff;
    text-shadow: 0 0 .5px #131514;
}
.btn.btn-black:hover{
    background-color: whitesmoke;
    color: #131514;
    text-shadow: 0 0 .5px #fff;
    border: inset 1px #131514;
}
.btn.btn-black.active,
.btn.btn-black:active{
    background-color: gainsboro;
    color: #131514;
    text-shadow: 0 0 .5px whitesmoke;
    border: inset 1px #131514;
}
.btn.btn-outline-dark{
    color: #131514;
    font-weight: 500 !important;
    text-shadow: 0 0 .5px #fff;
}
.btn.btn-outline-dark:hover{
    background-color: #131514;
    color: #fff;
    text-shadow: 0 0 .5px #131514;
}
.btn.btn-outline-dark.active,
.btn.btn-outline-dark:active{
    background-color: gainsboro;
    color: #131514;
    text-shadow: 0 0 .5px whitesmoke;
    border: inset 1px #131514;
}
.last-block h5{
    color: #131514;
    text-shadow: 0 0 .5px whitesmoke;
}
.last-block ul li a{
    color: #71706E;
    text-shadow: 0 0 .5px whitesmoke;
}

.last-block ul li a:hover{
    color: #131514;
}
.social-rate h4{
    color: #131514;
}
.social-rate a{
    color: #131514;
    text-shadow: 0 0 .5px whitesmoke;
}
.social-rate a:hover{
    color: #71706E;
    text-shadow: 0 0 .5px whitesmoke;
}