/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.02.2019, 8:49:13
    Author     : User

    Gamma
    black, orangered, lightcoral, gainsboro, snow
*/

/*      black
*/
.bg-color-black{
    background-color: black;
}
.font-color-black{
    color: black;
}
a.font-color-black:hover{
    color: black;
}
.font-shadow-black{
    text-shadow: 0 0 .5px black;
}

/*      orange
*/
.bg-color-orange{
    background-color: orangered;
}
.font-color-orange{
    color: orangered;
}
.font-shadow-orange{
    text-shadow: 0 0 .5px orangered;
}

/*      pink
*/
.bg-color-pink{
    background-color: lightcoral;
}
.font-color-pink{
    color: lightcoral;
}
.font-shadow-pink{
    text-shadow: 0 0 .5px lightcoral;
}

/*      light
*/
.bg-color-light{
    background-color: gainsboro;
}
.font-color-light{
    color: gainsboro;
}
.font-shadow-light{
    text-shadow: 0 0 .5px gainsboro;
}

/*      smoke
*/
.bg-color-smoke{
    background-color: whitesmoke;
}
.font-color-smoke{
    color: whitesmoke;   
}
.font-shadow-smoke{
    text-shadow: 0 0 .5px whitesmoke;
}