.realMenu {
    height: 80px;
}
.navbar.navbar-expand-lg.w-75{
    height: inherit
}
/********************************
            GRID
********************************/
@media (min-width: 1200px) {
    .container{
        max-width: 1170px;
    }
}
@media (min-width: 1430px) {
    .container {
        max-width: 1400px;
    }
}
.offset-artem-designer-2019{
    padding: 0 2rem;
}
/********************************
            HEADER
********************************/
header{
    display: block;
    width: 100%;
    min-height: 80px;
    position: relative;
    z-index: 5000;
}

.lastBlock{
    padding-top: 1.25rem;
}

.carousel-item{
    min-height: 400px;
}
.carousel-caption{
    top:5rem !important;
    color: #111 ;
}
.carousel-caption h1,
.carousel-caption h2,
.carousel-caption h3,
.carousel-caption p
{
    margin: .5rem auto .25rem auto !important;
    text-align: center;
}
.carousel-indicators li.active,
.carousel-indicators li:active {
    background-color: chocolate;
}
.carousel-indicators li {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 100%;
    -webkit-box-shadow: inset 0 0 0 1px #111;
    box-shadow: inset 0 0 0 1px #111;
}
.row.profile{
    padding: 1rem 0;
}
.fa-shopping-cart{
        position: relative;
}
.in-cart{
    position: absolute !important;
    top:-19px!important;
    z-index: 7000;
    right: -22px;
}
/*.firms{
    min-width: 250px;
    width: 30%;
}*/
.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /*z-index: 1030;*/
    /*border-bottom: 1px solid black;*/
}

/********************************
            SIZES
********************************/
.lead{
    padding-top: .5rem !important;
    line-height: 1.1;
    margin-bottom: .25rem;
}
p{
    padding-top: .5rem;
    margin-bottom: .325rem;
}
h1{font-size: 190%; font-weight: 700;}
h2{font-size: 175%; font-weight: 700;}
h3{font-size: 160%; font-weight: 600;}
h4{font-size: 150%; font-weight: 600;}
h5{font-size: 140%; font-weight: 600;}
h6{font-size: 125%; font-weight: 500;}
/********************************
            COLORS
********************************/
.b_black{
    background-color: black;
}
.t_black{
    color: black;
}
.b_white{
    background-color: snow;
}
.t_white{
    color: snow;
}

.b_red{
    background-color: salmon;
}
.t_red{
    color: salmon;
}

.b_light{
    background-color: #ccc;
}
.t_light{
    color: #ccc;
}

.b_orange{
    background-color: chocolate;
}
.t_orange{
    color: chocolate;
}
.oranges{
    width:100%;
    height: 5px;
    background-color: #FFAB19;
    -webkit-box-shadow: 0 0 0 1px #FFAB19;
    box-shadow: 0 0 0 1px #FFAB19;
}

/********************************
            STATES
********************************/
a.btn.border-warning.active
{
    background-color: salmon;
    color: #111;
}
a:hover {
    color: chocolate;
}
button.b_black:active,
button.b_black:hover,
button.b_black:focus,
a.b_black:active,
a.b_black:hover,
a.b_black:focus {
    color: black;
    background-color: chocolate;
}
a.b_orange:active,
button.b_orange:active,
a.b_orange:hover,
button.b_orange:hover,
a.b_orange:focus,
button.b_orange:focus {
    color: salmon;
    background-color: black;
}
.t_black:hover{
    color: gray;
}
/********************************
            BUTTONS
********************************/
.border-warning {
    border-color: chocolate !important;
}
button.btn{
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
/********************************
            --
********************************/
/********************************
            BLOCKS
********************************/
.midBtn{
    display: block;
    min-height: 1px;
    width: 100%;
    text-align: center;
    padding: 1.5rem 0 1rem;
}
.midBtn .btn{
    font-weight: 400;
    font-size: 110%;
}
.no-decor:hover{
    text-decoration: none;
}
/********************************
            CARDS
********************************/
.item_card .card-footer,
.item_card{
    border-color: chocolate;
    position: relative;
    z-index: 0;
}
.discount{
    padding: .5rem;
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: .25rem;
    -webkit-box-shadow: 0 0 0 .5px #777;
    box-shadow: 0 0 0 .5px #777;
}
.item_card{
    overflow: hidden;
    margin-bottom: .25rem !important;
}
.item_card img{
    margin-top: -40px;
    margin-bottom: -20px;
}
.card-big > .item_card{
    height: inherit;
}
.card-big{
    height: 400px;
    max-height: 400px;
    overflow: hidden;
}
.card-small > .item_card{
    height: inherit;
}
.card-small{
    height: 300px;
    max-height: 300px;
    overflow: hidden;
}
/********************************
        SECONDARY SUBSCRIBE
********************************/
.subscribe .container .row{
    height: 135px;
    min-height: 130px;
    min-height: 160px;
}
/********************************
            BOTTOM LINKS
********************************/
.social-rate{
    display: inline-flex;
    padding: 1rem 0 2rem;
}
.btm_links ul li{
    padding-left: 1rem;
    line-height: 1.5;
}
/********************************
            FOOTER
********************************/
footer{
    display: block;
    width: 100%;
    min-height: 80px;
    max-height: 130px;
}