html{ height: 100%;}
body header,
body main,
body footer{
    box-sizing: border-box;
    display: flow-root;
}
footer{
    min-height: 80px;
    background-color: #111;
}
main{
    padding-top: 1rem;
}
.text-light{
    color: #f5f5f5;
    text-shadow: 0 .5px #111;
}
.text-dark{
    color: #999;
    text-shadow: 0 .5px #f5f5f5;
}
html{ height: 100%;}
body {
    padding-top: 80px;
}
.top-nav{
    height: 80px;
}
.navbar{
    padding-top: 0;
    padding-bottom: 0;
}
header #collapseParent{
    position: relative;
    z-index: 2;
}
.header-end-shadow-block{
    width: 100%;
    height: 1px;
    position: relative;
    z-index: 1;
    top: 0;
    -webkit-box-shadow: 0 1px 2px 2px #eea340;
    box-shadow: 0 1px 2px 2px #eea340;
}
@media (min-width: 1200px) {
    .container{
        max-width: 1170px;
    }
}
@media (min-width: 1430px) {
    .container {
        max-width: 1400px;
    }
}
@media (max-width: 991.98px) {
    /*html,
    body{
        overflow-x: hidden;  Prevent scroll on narrow devices 
    }*/
    .offcanvas-collapse {
        position: fixed;
        top: 80px; /* Height of navbar */
        bottom: 0;
        right: 100%;
        width: 100%;
        padding: 1rem;
        /*        padding-top: 1rem;
                padding-left: 1rem;*/
        overflow-y: auto;
        visibility: hidden;
        background-color: #f8f9fa;
        transition: visibility 0s, -webkit-transform .1s ease-in-out;
        transition: transform .1s ease-in-out, visibility 0s;
        transition: transform .1s ease-in-out, visibility 0s, -webkit-transform .1s ease-in-out;
    }
    .offcanvas-collapse.show {
        visibility: visible;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    .nav-item a.btn-outline-dark{
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }
    #j-nav .dropdown-menu.show{
        margin-bottom: 1rem !important;
    }
}
.dropdown-menu.short-drop{
    position: absolute !important;
    float: none;
}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
.nav-right {
    flex-direction: row;
}
.nav-right li.nav-item {
    margin-left: .25rem;
}
.nav-left li.nav-item {
    margin-right: .25rem;
}
.nav-item.input-group > .input-group-append{
    display: flow-root;
}
.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

.nav-underline .nav-link:hover {
    color: #007bff;
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.navbar-toggler {
    background: transparent;
    border: none;
}

.navbar-toggler:active, .navbar-toggler:focus {
    outline: 0;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 21px;
    height: 2px;
    border-radius: 1px;
    margin: 4px 0 4px 0;
    transition: all 0.2s;
}

.navbar-light .navbar-toggler .icon-bar {
    background: #111;
}

.navbar-toggler .icon-bar:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .icon-bar:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
    transform: rotate(0deg);
}
.nav-link:hover{
    background-color: bisque !important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.75);
    font-weight: 400;
}
button.btn,
a.btn{
    border-radius: 2px;
    font-weight: 500;
}