@font-face { font-family: 'MyriadPro-Bold';  src: local('MyriadPro-Bold'), url('https://nomail.com.ua/files/woff/a4a83b50ac24f2af4df10725e63542be.woff') format('woff'); }
@media (min-width: 1200px) {
    .container{
        max-width: 1170px;
    }
    .col-mdl{
        padding: 0 4rem;
        margin: 0 auto;
    }
}
@font-face { font-family: 'Panton-LightitalicCaps';  src: local('Panton-LightitalicCaps'), url('https://nomail.com.ua/files/woff/e159044effcdaefc9db94053c2922c71.woff') format('woff'); }

.myr { font-family: 'MyriadPro-Bold'; font-size: 16px; font-weight: 700;}
small.text-sm{font-weight: 200; font-size: 80%; line-height: 100%;}
.pan { font-family: 'Panton-LightitalicCaps'; font-size: 16px; font-weight: 500; }
.container>*{
    margin-top: 1.5rem;
}
.product_card{
    height: 400px;
}
.short_card{
    height: 300px;
}
.card-header{
    padding: 1rem !important;
    background-color: transparent !important;
    border-bottom: none !important;
}
.card-footer{
    background-color: transparent !important;
    border-top: none !important;
    margin: 0 !important;
}
.slide_1{
    background-color: #eea340;
/*    orange*/
}
.slide_2{
    background-color: #e06167;
/*    pink*/
}
.slide_3{
    background-color: #3e3e4d;
/*    darknest*/
}
.bg-pink{
    background-color: #e06167;
/*    pink*/
}
.bg-darks{
    background-color: #3e3e4d;
/*    darknest*/
}
.bg-orange{
    background-color: #eea340;
}
.btm_links{
    
}
.btm_links>*>h5{
    margin-bottom: .25em;
}
.btm_links>*>ul{
    padding-left: .5em;
}
.btm_links>*>ul>li{
    list-style: none;
    margin-top: 0.15em;
}
.btm_links>*>ul>li>a
{
    color: inherit;
}
.article_head{
    height: 4rem;
}
a.no-decor:hover{
    text-decoration: none;
}
.btn.btn-dark{
    font-family: 'MyriadPro-Bold';
    padding: .375rem .65rem;
    border-radius: 2px !important;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.04);
}
.subscribe{
    background-color: black;
    color: whitesmoke;
}
.sub-row>*>.input-group>.form-control{
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.sub-row{
    min-height: 130px;
}
.card-footer.vs-border{
    border-top: 1px solid rgba(0,0,0,.125) !important;
}
.address>p{
    margin-bottom: .25em;
}
.light-shadow{
    border-radius: .25rem;
    -webkit-box-shadow: 0 0 0 1px #ccc;
    box-shadow: 0 0 0 1px #ccc;
}
.logo{
    width: 74px;
    height: 71px;
}