/*
    BODY
*/

/*
    FONTS
*/
@font-face { font-family: 'MyriadPro-Bold';  src: local('MyriadPro-Bold'), url('https://nomail.com.ua/files/woff/a4a83b50ac24f2af4df10725e63542be.woff') format('woff'); }
@font-face { font-family: 'Panton-LightitalicCaps';  src: local('Panton-LightitalicCaps'), url('https://nomail.com.ua/files/woff/e159044effcdaefc9db94053c2922c71.woff') format('woff'); }
.myr { font-family: 'MyriadPro-Bold'; font-size: 16px; font-weight: 700;}
.pan { font-family: 'Panton-LightitalicCaps'; font-size: 16px; font-weight: 500; }
small.text-sm{font-weight: 200; font-size: 80%; line-height: 100%;}
/*
    MEDIA SIZES
*/
@media(min-width:768px){
/*    .address{
        text-align: left;
    }*/
}
@media (min-width: 1200px) {
    .container{
        max-width: 1170px;
    }
    .offset-artem-designer-2019{
        padding: 0 4rem;
        margin: 0 auto;
    }
}
@media (min-width: 1430px) {
    .container {
        max-width: 1400px;
    }
}

/*
    CONTAINERS
*/
/*.main>*{
    margin-top: 1rem;
}*/
header{
    height: 80px;
    overflow-x: none;
}
header .container>*{
    /*margin: 0 !important;*/
}

.carousel-item{
    /*height: 500px;*/
    min-height: 400px;
    /*background-color: gray;*/
}
.carousel-caption{
    top:5rem !important;
    color: #111 ;
}
.carousel-caption h1,
.carousel-caption h2,
.carousel-caption h3,
.carousel-caption p,
.carousel-caption btn
{
    margin: .5rem auto .25rem auto ;
    text-align: center;
}
.carousel-indicators li.active,
.carousel-indicators li:active {
    background-color: #eea340;
}
.carousel-indicators li {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 100%;
    -webkit-box-shadow: inset 0 0 0 1px #111;
    box-shadow: inset 0 0 0 1px #111;
}
/*.firms{
    min-width: 250px;
    width: 30%;
}*/
.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /*z-index: 1030;*/
    /*border-bottom: 1px solid black;*/
}

.smalHeight{
    min-height: 130px;
}
.subscribe{
    background-color: black;
    color: whitesmoke;
}
.lastBlock{
    padding-top: .96rem;
}
/*.divide{
    width: 100%;
    height: 50px;
    margin-bottom: 1rem;
}*/
.bigHeight{
    height: 400px;
}
.short_card{
    height: 300px;
}
.midHeight{
/*    all !important*/
    padding: 1rem;
    background-color: transparent;
    border-bottom: none;
}
.card-footer{
/*    all !important*/
    background-color: transparent;
    border-top: none;
    /*margin: 0;*/
}
/*
    NAVBAR
*/
.logo{
    margin-bottom: 1px;
}
.navbar,
#navbarHeader.collapse,
.navbar container{
/*    -webkit-box-shadow: 0 4px 5px 0 #FFAB19;
    box-shadow: 0 4px 5px 0 #FFAB19;*/
    position: relative;
    z-index: 1000;
}
.navbar-toggler{
    position: relative;
}

/*
    BUTTONS
*/
.btn-outline-dark{
    background-color: transparent;
    color: #111;
}
/*.btn-outline-dark,
.btn-dark,
{
    position: relative;
    font-family: 'MyriadPro-Bold'; font-size: 16px; font-weight: 500;
    background-color: black;
    border-radius: 0 !important;
    color: #f5f5f5;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.04);
}*/
/*.btn-outline-dark:hover,.btn-outline-dark:focus,
.btn-dark:hover,.btn-dark:focus{
    color: #f5f5f5;
    -webkit-box-shadow: 0 0 0 .5px silver;
    box-shadow: 0 0 0 .5px silver;
}*/
.in-cart{
    position: absolute;
    right: -8px;
    top: -11px;
    z-index: 10;
/*    border-radius: 0;
    -webkit-box-shadow: 0 0 0 .5px #111;
    box-shadow: 0 0 0 .5px #111;*/
}
/*a.dashed {
    padding-left: 0;
    padding-right: 0px;
    margin-left: 1em;
    text-decoration: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 2px dashed #000080;
}*/
/*.in-tel{
    position: absolute !important;
    top: -14px !important;
    left: 30% !important;
    z-index: 10;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0 .5px silver;
    box-shadow: 0 0 0 .5px silver;
}*/


/*.discount>span{*/
.discount span{
    border-top-left-radius: .25rem;
}
.discount{
    position: absolute;
    left:-1px;
    top:5px;
    z-index: 10;

}
/*.btn.btn-dark{
    font-family: 'MyriadPro-Bold';
    background-color: black !important;
    border-radius: 0 !important;
    padding: .375rem .65rem;
}*/
/*.badge{
    border-radius: 0;
}*/
/*.badge.badge-secondary{
    background-color: black
}*/
/*.cart-link,
.cart-link:hover,
.cart-link:active,
.cart-link:focus
{
    color: #111;
}*/

/*
    UTILS
*/
/*.sub-row>*>.input-group>.form-control,
.input-group>.form-control,
#button-addon2{
    border-radius: 0;
}*/
.infolink{
    width: 33%;
    margin-left: 1rem;
    padding: .25rem 0;
    text-align: center;
    word-wrap: break-word;
    color: #f5f5f5;
}
.infolink:hover{
    color: inherit;
/*    text-decoration: 1px solid white;*/
}
/*#searched.form-control{
    background-color: darkgray !important;
    color: #111;
}*/
.card-footer.vs-border{
    /*border-top: 1px solid rgba(0,0,0,.05) !important;*/
}
a.no-decor:hover{
    text-decoration: none;
}
.article_head{
    height: 4rem;
}
.btm_links>*>h5{
    /*margin-bottom: .25em;*/
}
.btm_links>*>ul{
    /*padding-left: .5em;*/
}
.btm_links>*>ul>li{
/*    list-style: none;
    margin-top: 0.15em;*/
}
.btm_links>*>ul>li>a
{
    /*color: inherit;*/
}

/*
    COLORS
*/

/*.badge-transparent{
    background-color: transparent;
    border-radius: .25rem !important;
}*/
.orange_shadow{
    width:100%;
    height: 1px;
    background-color: #FFAB19;
    -webkit-box-shadow: 0 0 0 1px #FFAB19;
    box-shadow: 0 0 0 1px #FFAB19;
}

.bg-warning{
/*    !important*/
    background-color: #eea340;
}
.bg-pink{
    background-color: #e06167;
    /*    pink*/
}
.bg-darks{
    background-color: #3e3e4d;
    /*    darknest*/
}
.bg-orange{
    background-color: #eea340;
}
.bg-black{
    background-color: black;
}
.light-shadow{
    -webkit-box-shadow: 0 0 0 1px silver;
    box-shadow: 0 0 0 1px silver;
}
.text-dark{
    /*color: black;*/
}
/*
    SVALKA
*/
