/********************************
            PAGE
********************************/
html{ height: 100%;}
body header,
body main,
body footer{
    display: flow-root;
}
html:not(.desktop){
    .only-desktop{
        display: none;
    }
    
}
html.desktop{
    .only-mobile{
        display: none;
    }
}
/********************************
            GRID
********************************/
body {
    padding-top: 72px;
}

.last-block-with-offset{
    width: 92%;
    margin: 0 auto;
    padding: 0;
}
footer{
    min-height: 60px;
}
footer .container{
    position: relative;
}
@media (min-width: 576px) {
    .container{
        max-width: max-content;
    }
    
    .last-block-with-offset{
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .container{
        max-width: 1170px;
    }
}
@media (min-width: 1430px) {
    .container {
        max-width: 1400px;
    }
}
/********************************
            topMenu
********************************/
header{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 499;
}
@media (max-width: 991.98px) {
    
    .offcanvas-collapse {
        position: fixed;
        top: 72px; /* Height of navbar */
        bottom: 0;
        right: 100%;
        width: 100%;
        padding: 1rem;
        /*        padding-top: 1rem;
                padding-left: 1rem;*/
        overflow-y: auto;
        visibility: hidden;
        background-color: #f8f9fa;
        transition: visibility 0s, -webkit-transform .1s ease-in-out;
        transition: transform .1s ease-in-out, visibility 0s;
        transition: transform .1s ease-in-out, visibility 0s, -webkit-transform .1s ease-in-out;
    }
    .offcanvas-collapse.show {
        visibility: visible;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    .nav-item a{
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }
    #j-nav .dropdown-menu.show{
        margin-bottom: 1rem !important;
    }
}
.header-end-shadow-block{
    width: 100%;
    height: 0;
    position: relative;
    z-index: 1;
    border-bottom: inset 1px rgba(0,0,0,.5);
/*    -webkit-box-shadow: 0 0 0 .5px #131514;
    box-shadow: 0 0 0 .5px #131514;*/
}
.navbar{
    padding-top: 0;
    padding-bottom: 0;
}
.top-nav{
    height: 72px;
}
#collapseParent{
    width: 100%;
    position: absolute;
    top: 72px;
    z-index: 500;
}
.navbar-toggler {
    background: transparent;
    border: none;
}

.navbar-toggler:active, .navbar-toggler:focus {
    outline: 0;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 21px;
    height: 2px;
    border-radius: 1px;
    margin: 4px 0 4px 0;
    transition: all 0.2s;
}


.navbar-toggler .icon-bar:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .icon-bar:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
    transform: rotate(0deg);
}
.nav-item.input-group > .input-group-append{
    display: flow-root;
}
.dropdown-menu.short-drop{
    position: absolute !important;
    float: none;
}

.nav-right {
    flex-direction: row;
}
.nav-right li.nav-item {
    margin-left: .25rem;
}
.nav-left li.nav-item {
    margin-right: .25rem;
}
/********************************
            BUTTONS
********************************/
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

input.focus,
input:focus,
.form-control.focus,
.form-control:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn{
    transition: none !important;
}
button.btn,
a.btn{
    font-weight: 500 !important;
}
.btn-black{
    border-radius: 2px !important;
}
.mid-btn-block{
    display: flow-root;
    min-height: 2rem;
    width: 100%;
    text-align: center;
    margin: 1.75rem auto 2rem auto;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .show>.btn-outline-dark.dropdown-toggle {
    color: #fff;
    background-color: #131514;
}
.btn.focus,
.btn:focus{
    -webkit-box-shadow: 0 0 0 0.1rem rgba(11,11,11,.15);
    box-shadow: 0 0 0 0.1rem rgba(11,11,11,.15);
}

/********************************
            CARDS
********************************/

.card,
.item-card,
.card-hover-shadow{
    border-radius: 2px;
}
.card-big > .item_card{
    height: inherit;
}
.card-big{
    height: 400px;
    max-height: 400px;
    overflow: hidden;
}
.card-small > .item_card{
    height: inherit;
}
.card-small{
    height: 300px;
    max-height: 300px;
    overflow: hidden;
}
.card-hover-shadow:hover{
    -webkit-box-shadow: 0 0 0 .5px #999;
    box-shadow: 0 0 0 .5px #999;
}
.item_card{
    overflow: hidden;
    position: relative;
}
.item_card .item-card-svg{
    width: 55%;
    padding: 1rem;
    margin: .5rem auto;
}
.item_card img.item-card-image{
    width: 90%;
    height: 90%;
    margin: 0 auto;
}
.card-img{
    position: relative;
    width: 80%;
    margin: 0 auto;
}
.card-img-my{
    position: relative;
    width: 80%;
    margin: 0 auto;
    top: -3.5rem;
}
.mt-item{
    margin-top: calc(250px + 2rem);
}
p.f-b{
    font-weight: 500;
    font-size: 1.25rem;
}
.card-img-overlay.card-blog{
    /*padding: 0;*/
}
.discount{
    position: absolute;
    left: 0;
    top: .05rem;
    right: 0;
    z-index: 100;
}
.discount span{
    padding: .15rem .6rem .25rem;
    border-top-left-radius: 1px;
    -webkit-box-shadow: 0 0 0 .5px #777;
    box-shadow: 0 0 0 .5px #777;
}

/********************************
            CARUSEL
********************************/

.carousel-item{
    height: 25rem;
}
.carousel-caption{
    top:5rem !important;
}
.carousel-caption h1,
.carousel-caption h2,
.carousel-caption h3,
.carousel-caption p
{
    margin: .5rem auto .25rem auto !important;
    text-align: center;
}
.carousel-indicators li {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: gainsboro;
    border: inset .5px #131514;
}
.carousel-indicators li:active,
.carousel-indicators li.active{
    background-color: black;
}
/********************************
            VISUAL
********************************/
.cursor-pointer{
    cursor: pointer;
}
input.form-control{
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.last-block{
    width: 100%;
}
.social-rate{
    height: 50px;
    padding: 0;
}
.last-block ul{
    padding: 0 0 0 1rem;
    list-style: none;
}
.last-block ul li{
    margin: .25rem 0;
}
.social-rate *{
    margin: 0;
    display: inline-block;
    margin-right: .25rem;
}
footer>.container a{
    margin: .5rem;
    /*padding: .5rem 1rem;*/
}
.pedal{
    position: absolute;
    z-index: 1000;
    top: .1rem;
    right: 1.5rem;
}